.side-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: #f8f9fa;
    overflow-x: hidden;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    z-index: 1000;
    margin-top: 10vh;
}

.side-nav.open {
    transform: translateX(0);
    background-color: white;
    border: 1px solid lightgray;
    margin-top: 10vh;
}

.toggle-btn {
    padding: 10px 15px;
    cursor: pointer;
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 4px;
    z-index: 1001;
}

.nav-content {
    padding-top: 60px;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.nav-link {
    color: black;
    text-decoration: none;
    display: block;
}

.nav-link:hover {
    text-decoration: underline;
}